<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
      h1{
        text-align: center;
      }
    </style>
            
    <title>LogIn</title>
</head>
<body>
    <h1>Log In</h1>
    <div class="container">
    <div class="row">
        <form class="col s12" method="POST">
            Asset Tag:<br>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="name">
              <label for="first_name">Name</label>
            </div>
            
          </div>
          
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email">
              <label for="email">Email</label>

            </div>
            <input type="submit" value="Submit">
        <br>
          </div>
          
          </div>
        </form>
      </div>
    </div>
            
</body>
</html>


    
